@model IEnumerable<ForumIT.Models.AspNetUser>

@{
   // ViewData["Title"] = "ListUser";
}
@section Test{
    <aside class="col-md-3 sidebar97239" style="margin-top:100px">
        <div class="categori-part329">
            <img src="/1Forum/image/logoApp.png" alt="Logo" width="200px" height="100px">
        </div>
    </aside>
    }
<h2>LIST USER</h2>

<table class="table">
    <thead>
        <tr>
            
            <th style="text-align: center">
               USERNAME
            </th>
            <th style="text-align: center">
               EMAIL
            </th>
            <th style="text-align: center">
              FIRSTNAME 
            </th>
            <th style="text-align: center">
               LASTNAME
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                    @if(item.UserName!="Admin")
                    {
                        <button class="btn btn-danger ">@Html.ActionLink("Delete", "DeleteUsser", new {  idd=item.Id  } ,new { style = "color: white" })</button>
                        @*< div class="btn btn-warning"> <a style = "cursor:pointer" onclick="confirmDeleted(@item.Id)" >Xóa User</a></div>*@
                    
                    }else{
                        <button class="btn btn-success text-white" onclick="noti()">ADMIN</button>
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function confirmDeleted(id) {

        if (confirm("Bạn có chắc chắn muộn xóa không?")) {
            deleteItem(id);
        } else {

        }
    }

    function deleteItem(id) {
        var getUrl = "/UserMN/DeleteUsser/" + id;
        $.ajax({
            url: getUrl,
            type: 'GET',
            success: function (data) {
                alert('Delete Success');
                window.location = "/UserMN/ListUserAsync";
            },
            error: function (xhr) {
                alert('error');
            }

        });
    }

    function noti() {
        alert("Tài khoản Admin không được xóa!!!")
    }
</script>


