@model IEnumerable<ForumIT.Models.TblBaiViet>

<div>Hello Admin</div>



@section Test{
    <aside class="col-md-3 sidebar97239">
        <div class="text-center"><h2>Loại Diễn Đàn</h2></div>
        <div class="categori-part329">
            @await Component.InvokeAsync("DienDanTheoLoai")
        </div>
    </aside>
}

<h2>ListPost</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdBaiViet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaydang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdBaiViet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Img)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoiDung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLdd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaydang)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>